{% extends 'base.html' %}
{% block content %}
<h2>Editar Cliente</h2>
<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" value="{{ cliente[1]}}" required>
    
    <label>Apellido:</label>
    <input type="text" name="apellido" value="{{ cliente[2] }}" required>
    
    <label>Dirección:</label>
    <input type="text" name="direccion" value="{{ cliente[3] }}" required>
    
    <label>Correo:</label>
    <input type="email" name="correo" value="{{ cliente[4] }}" required>
    
    <button type="submit">Guardar Cambios</button>
</form>
<a href="{{ url_for('listar_clientes') }}" class="btn btn-secondary">Volver al Panel</a>
{% endblock %}