{% extends 'base.html' %}

{% block title %}Confirmar Cliente{% endblock %}

{% block content %}
    <h1>Confirmar Cliente</h1>
    <p>Por favor, confirma los datos del cliente:</p>
    <p>Nombre: {{ cliente.nombre }}</p>
    <p>Correo: {{ cliente.correo }}</p>
    <p>Dirección: {{ cliente.direccion }}</p>
    <form action="{{ url_for('simulacion_pago') }}" method="post">
        <input type="hidden" name="id_cliente" value="{{ cliente.id }}">
        <button type="submit">Confirmar y Proceder</button>
    </form>
{% endblock %}