{% extends 'base.html' %}

{% block title %}Factura{% endblock %}

{% block content %}
<div class="container">
    <h2>Factura</h2>
    <p>Cliente: {{ cliente[1] }} {{ cliente[2] }}</p>
    <p>ID Cliente: {{ cliente[0] }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in detalles %}
            <tr>
                <td>{{ item[5] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[6] }}</td>
                <td>{{ item[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total pagado: {{ detalles[0][2] }} USD</p>
    <p>Método de Pago: {{ detalles[0][3] }}</p>
    <button onclick="window.print()" class="btn btn-primary">Imprimir Factura</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al Inicio</a>
</div>
{% endblock %}
